<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	 <style>
    a { color: #496eaa;
    text-decoration: none } /* CSS link color */
  </style>
</head>
<body>
<div>
<h1>All Tenders</h1>
 <a href="#">Go to Home</a> 
  <ul class="employees">
  <% for(var i=0; i<Person.length; i++) {%>
    <li class="employees">
      <a href="/tenders/<%=Person[i].rollno%>"><span><%="Roll No.: " + Person[i].rollno%> </span></a>
      <br><br>
      
    </li>
  <% } %>
</ul>
</ul>
</div>
</body>
</html>
