<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/static/login.css">
</head>
<body>
    <div id="overlay"></div>
    <div class="loginbox">
        <h1>LOGIN</h1><br>
        <form action="/login" method="POST">
            <input type="text" name = "rollno" placeholder="Roll No." required="required"><br>
            <input type="password" name = "password" placeholder="Password" required="required">
            <input type="submit" value="LOGIN">
        </form>
        <br>
        <br>
        <a href="/login_page/change_password" method ="GET" >Forgot Password?</a><br>
        <br>
        <br>
        <a href="/signup" method ="GET" >Don't have an account Sign Up</a><br>
    </div>
</body>
</html>