<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/static/signup.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

    <nav>
          <a href="/home">Home</a>
          <a href="/takeaquiz">Take a Quiz</a>
          
          <a href="https://www.teamexe.in" target="_blank">About Us</a>
          <a href="fac_login">Submit Questions</a>
          <a href="/myprofile">My Profile</a>
          <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FA8072;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #FA8072;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
</style>
</head>
<body>

<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="/leaderboard/nodejs">NodeJS</a>
  <a href="/leaderboard/Blockchain">BlockChain</a>
  <a href="/leaderboard/javascript">Javascript</a>
</div>

<button class="openbtn" onclick="openNav()">☰ LeaderBoards</button> 

<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>
        </nav>
        
        <div class="login-page">
        <div class="form">
        <form action="/login" method="POST">
            <input type="text" name = "rollno" placeholder="Roll No." required="required"><br>
            <input type="password" name = "password" placeholder="Password" required="required">
            <button>Login</button>
        
        <p class="message">Forgot Password?<a href="/forgot_password"> Reset</a></p>
        <p  class="message">Don't have an account<a href="/signup"> Sign Up</a></p>
</form>
</body>
</html>