<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>QuizApp</title>
  </head>

  <body>
    <div class="container">
      <section id="home">

        <div class="menu-btn">Menu</div>

        <nav>
          <a href="#home">Home</a>
          <a href="#speakers">Quiz Menu</a>
          <a href="#agenda">Leaderboards</a>
          <a href="#auditorium">About Us</a>
          <a href="#sponsors">Our Sponsors</a>
        </nav>

        <div class="home-content">
          <h1>QuizApp</h1>
          <h2 class="section-heading">Team .EXE • NIT Hamirpur • India.</h2>
          <p>
           “We are not just a team, we are the Team .EXE” 
          </p>
          <div class="social-icon">
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>

          <div class="social-icon">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
          <a class="register-btn hvr-buzz-out" href="register" target="_blank">Register Now</a>
        </div>
      </section> <!-- home section -->

      <section id="speakers">
        <img class="speaker-icon" src="https://image.ibb.co/ixMeYo/music_microphone_old.png" alt="Microphone Icon"/>
        <h2 class="section-heading">QuizApp</h2>
        <p>
          It is a portal for online quizzes, which can be used for any type of evaluation. Show your talent here.
          
        </p>

        <div class="main-speaker">
          <div class="main-speaker-img-container">
            <img  src="http://exe.nith.ac.in/images/logo.png" alt="Photo of woman" />
          </div>

          <div class="main-speaker-info">
            <h3>Our Aim</h3>

            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

            

            <span class="tip1"></span>
          </div>
        </div>


      </section> <!-- speakers section -->

      <section id="agenda">
        <img class="agenda-icon" src="https://image.ibb.co/gpBreT/basic_alarm.png" alt="Alarm Icon"/>
        <h2 class="section-heading">Agenda</h2>

        <p class="section-subtitle">Conference Schedule</p>

        <h2 class="agenda-subheading">Bangkok • Sat 20 September 2018 </h2>
        <div class="events-container">
          <div class="event-hours-container">
            <p class="event-hours">8:00 AM</p>
            <p class="event-hours">8:30 AM</p>
            <p class="event-hours">9:00 AM - 12:00 AM</p>
            <p class="event-hours">12:30 PM - 1:30 PM</p>
            <p class="event-hours">1:30 PM - 5:30 PM</p>
            <p class="event-hours">5:00 PM</p>
            <p class="event-hours">6:00 PM - 9:00 PM</p>
            <p class="event-hours">9:00 PM</p>
            <p class="event-hours">7:30 PM - 9:00 PM</p>
          </div>


          <div class="event-title-container">
            <p class="event-title">Check In</p>
            <p class="event-title">Breakfast / Coffee</p>
            <p class="event-title">Pre-Conference Trainings</p>
            <p class="event-title">Lunch</p>
            <p class="event-title">Pre-Conference Trainings</p>
            <p class="event-title">City tour & Activities</p>
            <div class="featured-event">

              <img class="event-icon" src="https://image.ibb.co/frOF68/basic_todo_txt.png" alt=""/>

              <p class="feat-event-heading">The Conference talks</p>
              <p class="feat-event">Oh dear! She's stuck in an infinite loop, and he's an idiot! Well, that's love for you. Uhh… also, comes with double prize money. It doesn't look so shiny to me.</p>
            </div>
            <p class="event-title">Welcome Dinner</p>
            <p class="event-title">Sponsors Reception</p>
          </div>
        </div>
      </section>

      <section id="auditorium">
        <div class="content-container">
          <div class="content">
            <img class="auditorium-icon" src="https://image.ibb.co/iekv68/basic_geolocalize_01.png" alt=""/>

            <h2 class="section-heading">Auditorium</h2>
            <p class="section-subtitle">The Location</p>

            <p class="auditorium-address">
             Auditorium Address
            </p>

            <p class="auditorium-phone">
              Tel. XXXXXXXXXX
              Mob. XXXXXXXXXX
            </p>

            <p class="auditorium-email">
              E-Mail :
              
            </p>
          </div>
        </div>
      </section> <!-- auditorium section -->

      <section id="sponsors">
        <img class="sponsors-icon" src="https://image.ibb.co/maSmDo/basic_bookmark.png" alt=""/>

        <h2 class="section-heading">Sponsors</h2>

        <p class="section-subtitle">The Conference Partners</p>

        <div class="sponsor-logo-container">
          <img height="200" width="200" class="AusEmbassy-logo" alt="logo" src="http://www.chiangmaivisaservice.com/wp-content/uploads/17309858_1825077931079036_6489410530776113114_n-300x217.jpg" />

          
        </div>
        <br>
        <br>
        <a class="become-sponsor-btn" href="#">Become a Sponsor</a>
      </section> <!-- sponsors section -->

      <footer>
        <p class="footer-title">Quiz_App by Team .EXE</p>

        <div class="social-icon-container">
          <a href="mailto:iiitu16118@gmail.com" target="_blank"><img class="email-icon" src="https://image.ibb.co/c1n8R8/basic_mail.png" alt=""/></a>

          <div class="footer-icon">
            <a href="https://www.facebook.com/internationalmun2018" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>

          <div class="footer-icon">
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>

        <a class="register-today-btn" href="#">Register Today</a>

        <span class="copyright">Copyright &copy; 2018 Team .EXE . All Rights Reserved.</span>
      </footer>

    </div> <!-- container-->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>

    <script src="js/app.js">b</script>
  </body>
</html>
