<!Doctype html>
<html>
<head>
  <script type="text/javascript">
    function validateForm() {
    var x = document.forms["form"]["rollno"].value;
    if (x == "") {
        alert("Name must be filled out");
        return false;
    }
} 

  </script>
</head>
<body>


<main>
  <header class="prompt">
    <h1>Create an account</h1>
  </header>

  <section class="body">
    <form class="signup-form" action="/signup" name="form" method="POST" onsubmit="return validateForm()" >
      <input type="text" name="rollno" placeholder="Roll No" required="required" />
      <input type="email" name="email" placeholder="Email" required=" required" />
      <div class="password-container">
        <input type="password" name="password" placeholder="Password" required="required" />
      </div>

      <button class="submit-button">Sign up</button>

    </form>

    <small class="terms-agreement">By signing up to this service, you are indicating that you have read and agreed to the <a href="#">Terms of service</a></small>
    <span class="got-account"><a href="" method = "GET">I already have an account</a></span>

  </section>

</main>

</body>
</html>