<!DOCTYPE html>
<html>
<head>
  <body bgcolor="#E6E6FA">
  <meta charset="UTF-8">
  <title>Review</title>
  <link href="/css/result.css" rel="stylesheet" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="form-group" style="text-align:center;">
  <h4>Results for <%= results.stats.quiz.uname %></h4>
  <p>Score in the <%= results.stats.quiz.name %> test:</p>
  <ul>
    <h5>Questions given: <%= results.stats.total %></h5>
    <h5>Correctly answered: <%= results.stats.correct %> questions</h5>
    <h5>Percentage obtained: <%= results.stats.perc %>%</h5>
    <h5>Is grade final? <% if(results.stats.unevaluated.length) { %>No<% } else { %>Yes<%}%></h5>
  </ul>
  <input type="submit" value="Go to Home" 
    onclick="window.location='/';" />
</div>

</body>
</html>